body{
    font-family: 'Ubuntu', sans-serif;
}

.admin-view-content{
    margin-top: 20px;
}

.admin-sidebar{
    background-color: #3e3e3e;
    position: fixed;
    left: 0;
    width: 180px;
    height: 100vh;
}

.admin-sidebar ul{
    color: #ffffff;
    list-style: none;
    padding-left: 0;
}

.admin-sidebar ul li{
    padding: 20px 5px 20px 5px;
}

.admin-sidebar ul li a{
    text-decoration: none;
    color: #ffffff;
}


.admin-sidebar ul li:hover{
    background-color: #b4b4b4;
}