<div  class="home-background-container"></div>
<div class="home-container">
    <div class="home-content">
        <div class="login-container">
            <h1 class="animated fadeInUp header">Login</h1>
            <form class="login-form" name="loginForm">
                <md-input-container class="md-block">
                    <label>Username</label>
                    <input type="text" name="username" ng-model="login.formData.username" placeholder="username" required=""/>
                    <div ng-messages="" role="alert" multiple="">
                        <div ng-message="required" class="my-message">Please enter your username.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input type="password" name="password" ng-model="login.formData.password" placeholder="password" required=""/>
                    <div ng-messages="" role="alert" multiple="">
                        <div ng-message="required" class="my-message">Please enter your password.</div>
                    </div>
                </md-input-container>
                <md-button ng-disabled="!loginForm.$valid" ng-click="login.doLogin(login.formData)" class="md-raised md-primary">&nbsp Login &nbsp</md-button>
            </form>
        </div>
        <div class=" text-center home-footer">
            <h6>Team Cyborgs &copy; 2017</h6>
        </div>
    </div>
    <div id="toastParent"></div>
</div>
