<div class="col-md-12">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <img src="../../../assets/images/icons/slides.svg" style="width: 20px; margin-right: 15px;">
            <h2>Lecture Material</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="toggleUploadForm()" ng-if="user_role=='teacher'">
                <i class="fa fa-upload"></i>
                <md-tooltip md-direction="bottom">Upload</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="loadContent()">
                <i class="fa fa-refresh"></i>
                <md-tooltip md-direction="bottom">Refresh</md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
    <div class="lm-container">
        <md-content ng-hide="isLoading">
            <div class="lm-uploadform-container" ng-show="isEnabledUploadForm" ng-if="user_role=='teacher'">
                <div class="text-center">
                    <!--<input id="fileInput" onchange="angular.element(this).scope().addFileToList(this);"-->
                           <!--type="file" class="ng-hide" multiple>-->
                        <div ng-if="uploader">
                            <input id="fileInput" type="file" nv-file-select uploader="uploader"
                                   multiple  class="md-raised md-warn" style="display: none;"/>
                        </div>
                    <md-button id="uploadButton" type="file" class="md-raised md-warn lm-upload-btn">
                        <i class="fa fa-plus"></i>
                        &nbsp;Add Files
                    </md-button>
                    <md-button type="file" class="md-raised md-primary lm-upload-btn"
                        ng-click="uploader.uploadAll()"
                        ng-disabled="uploader.queue.length == 0">
                        <i class="fa fa-upload"></i>
                        &nbsp;Upload Files
                    </md-button>
                </div>
                <md-list flex id="uploadList">
                    <md-list-item ng-repeat="item in uploader.queue">
                        <div class="col-md-1">
                            <i class="fa fa-file" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-4">
                            <div class="md-list-item-text" layout="column" style="text-wrap: normal;">
                                <h6>{{item.file.name}}</h6>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="md-list-item-text" layout="column">
                                <h6>{{ item.file.size/1024/1024|number:2 }} MB</h6>
                            </div>
                        </div>
                        <span flex></span>
                        <div class="col-md-2">
                            <md-progress-linear md-mode="determinate" value="{{item.progress}}"></md-progress-linear>
                        </div>
                        <md-button class="md-icon-button" ng-click="item.upload()">
                            <i class="fa fa-upload"></i>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="item.remove()">
                            <i class="fa fa-remove"></i>
                        </md-button>
                    </md-list-item>
                </md-list>
            </div>
            <md-list flex>
                <md-list-item ng-repeat="item in contents" ng-hide="contents.length == 0">
                    <div class="col-md-1">
                        <i class="fa fa-file" aria-hidden="true"></i>
                    </div>
                    <div class="md-list-item-text" layout="column">
                        <h5>{{item.Key.replace('classes/'+classroomId+'/',"")}}</h5>
                    </div>
                    <span flex></span>
                    <a href="http://cyborgs-lms.s3.amazonaws.com/{{item.Key}}">
                        <md-button class="md-icon-button">
                            <i class="fa fa-download"></i>
                        </md-button>
                    </a>
                    <md-button class="md-icon-button"
                               ng-if="user_role=='teacher'"
                               ng-click="showRemoveFileDialog($event,item.Key)">
                        <i class="fa fa-remove"></i>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-content>
        <clms-content-loading ng-show="isLoading"></clms-content-loading>
        <clms-content-empty ng-show="contents.length == 0"></clms-content-empty>
    </div>
</div>